body { 
    background-color: rgba(0, 0, 0, 0.89);
}

input {
    background-color: transparent;
    outline-color: transparent;
}

.Wtext {
color:white;
}

.nav {
    list-style: none;
    overflow: auto;
}

.nav_right {
    display: inline;
    float: right;
    margin-right: 20px;
}

.nav_left {
    display: inline;
    float: left;
    margin-left: 20px;
}

main {
    text-align: center;
}

.center {
    margin: 10% 30%;
}

.search-bar {
    align-content:"center";
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    pointer-events: auto;
}

#searchIcon {
    text-align: left;
    filter: invert(50%);
}

input {
    width: 70%;
    background: transparent;
    outline: none;
    font-size: large;
    color: white;
}

.button {
    margin: 20px 4px;
    padding: 10px;
    background-color: rgba(56, 56, 56, 0.651);
    color: white;
    border: none;
}

#lang {
    color: rgba(96, 139, 231, 0.781);
}

#googleFont {
    font-size: 100px;
}

.opacity-button {
    border: 0;
    background-color: transparent;
    filter: invert(50%);
}